html {
    padding: 0;
}

body {
    background-color: #232323;
}

#container {
    max-width: 600px;
    margin: 0 auto;
} 

h1 {
    margin: 0;
    padding: 0;
    width:100%;
}

#headerBar {
    color: white;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}

#navBar {
    color: blue;
    background-color: white;
    text-align: center;
    height: 30px;
}

.square {
    padding-top: 30%;
    margin: 1.66%;
    width: 30%;
    background: purple;
    float: left;
}

div#navBar span {
    max-width: 600px;
}